@use "variables";

// Footer Styles
footer.container {
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 30px;
  margin-top: 30px;
}

.social-links {
  margin-bottom: 25px;

  a {
    color: variables.$blue-color;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1em;

    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  margin-top: 25px;
  font-size: 0.9em;
  color: #777;
}
