@use "variables";

// Header Styles
header.container {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: 1px solid #333;
}

// Text Highlights
.highlight-yellow, 
.highlight-yellow a { 
  color: variables.$yellow-color !important; 
}

.highlight-gray, 
.highlight-gray a { 
  color: variables.$text-gray !important; 
}

.highlight-pink, 
.highlight-pink a { 
  color: variables.$pink-color !important; 
}

.highlight-purple, 
.highlight-purple a { 
  color: variables.$purple-color !important; 
}

.bold-underline { 
  font-weight: bold; 
  text-decoration: underline; 
}
